.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actor {
  margin-bottom: 10px;
}

.actor:hover .poster {
  transform: scale(1.05);
  transition: 0.8;
}

.name {
  text-align: center;
  font-weight: 500;
}
